XAI_API_KEY=""
OPENAI_API_KEY=
DATABASE_URL="postgresql://neondb_owner:npg_c2PDwikzOK1n@ep-twilight-frost-a45ik9cw-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyAyhh6drNBviJIwUycA5gaYBkct47EXt2A"
